<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<body>
<div>
    <h2>회원가입</h2>
    <form action="/signup" method="post">
        <p>이름</p>
        <input type="text" name="name" required>
        <p>아이디</p>
        <input type="text" name="id" required>
        <p>비밀번호</p>
        <input type="password" name="passwd" required>
        <br><br>
        <button type="submit">등록</button>
    </form>
</div>
</body>
</html>